<!DOCTYPE html>

<html>

<head>
    <title><%=title%>CSV Reader</title>
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>

</head>

<body>

    <%- body %>

    <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>